<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YtDown</title>

    <!-- My CSS -->
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet" />
  </head>
  <body>
    <input type="text" class="URL-input" placeholder="Paste Video URL" />
    <button class="download-button">Download</button>

    <script>
      const downloadButton = document.querySelector(".download-button");
      const URLinput = document.querySelector(".URL-input");

      URLinput.onkeypress = (e) => {
        if (!e) e = window.event;
        const keyCode = e.code || e.key;

        // Enter key pressed
        if (keyCode == "Enter") {
          console.log(`URL: ${URLinput.value}`);
          sendURL(URLinput.value);

          return false;
        }
      };

      downloadButton.addEventListener("click", () => {
        console.log(`URL: ${URLinput.value}`);
        sendURL(URLinput.value);
      });

      function sendURL(URL) {
        window.location.href = `${window.location.href}download?URL=${URL}`;
      }
    </script>
  </body>
</html>
